# MongoDB
MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=example
MONGO_URL=mongodb://root:example@mongo:27017/bookstore?authSource=admin

# JWT
JWT_SECRET=supersecretjwt

# Service Ports
PORT_API_GATEWAY=8090
PORT_USER=3001
PORT_BOOKS=3002
PORT_ORDERS=3003
PORT_PAYMENTS=3004
PORT_REVIEWS=3005
PORT_CART=3006
PORT_RECS=3007
PORT_NOTIFY=3008
PORT_FRONTEND=3000
PORT_PROMETHEUS=9091
PORT_GRAFANA=3030

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8090
